<mat-nav-list>
    <a mat-list-item [skipLocationChange]="true" routerLinkActive="list-item-active" routerLink="/home"><mat-icon>home</mat-icon>{{'MENU.HOME' | translate}}</a>
    <a mat-list-item [skipLocationChange]="true" routerLinkActive="list-item-active" routerLink="/roomcontrol"><mat-icon>event_seat</mat-icon>{{'MENU.ROOMCONTROL' | translate}}</a>
    <a mat-list-item [skipLocationChange]="true" routerLinkActive="list-item-active" routerLink="/television"><mat-icon>tv</mat-icon>{{'MENU.TELEVISION' | translate}}</a>
    <mat-divider></mat-divider> 
</mat-nav-list>
    

    
<mat-action-list>
    <h2 matSubheader>Language</h2>
    <button mat-list-item (click)="onLanguageChange('en-us')"> English </button>
    <button mat-list-item (click)="onLanguageChange('zh-tw')"> 繁體中文 </button>
    <button mat-list-item (click)="onLanguageChange('zh-cn')"> 简体中文 </button>
</mat-action-list>
    

